<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="MongoDBConnectionString" value="mongodb://10.0.0.4" />
    <!--official string for azure cloud-->
    <!--<add key="MongoDBConnectionString" value="mongodb://192.168.1.101"/>-->
    <!-- PASCALS DB CONNECTION STRING -->
    <!--<add key="MongoDBConnectionString" value="mongodb://localhost" />-->
    <add key="MongoDBDatabaseName" value="placetobe" />
    <add key="waitQueueSizeLimit" value="2000" />
    <add key="fbAppId" value="857640940981214"/>
    <add key="fbAppSecret" value="469300d9c3ed9fe6ff4144d025bc1148"/>
    <add key="googleAppKey" value="AIzaSyArx67_z9KxbrVMurzBhS2mzqDhrpz66s0"/>
  </appSettings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>