<div>
    <md-button ng-click="cancel()" class="md-primary">
        Cancel
    </md-button>
    <table ng-table="tableParams" template-pagination="custom/pager" class="table">
        <tr ng-repeat="event in $data">
            <td data-title="'Name'" sortable="'name'">{{event.name}}</td>
            <td data-title="'Attending Count'" sortable="'attending_count'">{{event.attending_count}}</td>
            <td data-title="'Starttime'" sortable="'start_time'">{{event.start_time| date:'medium'}}</td>
            <td data-title="'Details'">
                <stat-details></stat-details>
            </td>

        </tr>
    </table>
    <script type="text/ng-template" id="custom/pager">
        <div class="">
            <div ng-repeat="page in pages"
                 ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                 ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                <div class="md-actions md-padding" layout="row" layout-align="center center">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="">&laquo; Previous</a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                </div>
            </div>
            <div>
                <div class="md-actions md-padding" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" type="button" ng-class="{'active':params.count() == 10}"
                               ng-click="params.count(10)" class="btn btn-default">
                        10
                    </md-button>
                    <md-button class="md-raised md-primary" type="button" ng-class="{'active':params.count() == 25}"
                               ng-click="params.count(25)" class="btn btn-default">
                        25
                    </md-button>
                    <md-button class="md-raised md-primary" type="button" ng-class="{'active':params.count() == 50}"
                               ng-click="params.count(50)" class="btn btn-default">
                        50
                    </md-button>
                    <md-button class="md-raised md-primary" type="button" ng-class="{'active':params.count() == 100}"
                               ng-click="params.count(100)" class="btn btn-default">
                        100
                    </md-button>
                </div>
            </div>
        </div>
    </script>
</div>
<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

        table tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>
