<md-toolbar layout="row" layout-align="end center">
  <span flex="5"></span>
  <md-select placeholder="City" ng-model="ctrl.userState" flex="20" ng-change="fetchEvents(query)">
    <md-option ng-repeat="city in cities |orderBy: 'formatted_address'" ng-click="query.place = city">{{city.formatted_address}}</md-option>
  </md-select>
  <span flex></span>
  <md-input-container flex="20">
    <label>Date</label>
    <input type="date" ng-model="query.startDate" ng-change="fetchEvents(query)">
  </md-input-container>
  <span flex></span>
  <md-select placeholder="Time" ng-model="query.startHour" ng-change="fetchEvents(query)">
    <md-option ng-repeat="n in [] | range:0:23" value="{{n}}">{{n}}:00</md-option>
  </md-select>
  <!--<div><md-button ng-click="fetchEvents(query)" class="md-raised">FetchEvents</md-button></div>-->
  <!--to login with FB or our own accounts-->
  <span flex></span>
  <login-button login-service="loginService"></login-button>
  <logout-button login-service="loginService"></logout-button>
</md-toolbar>        <!--todo directive instead-->


<div class="md-whiteframe-z3 ptb-event-table-container">
    <table ng-table="tableParams" template-pagination="custom/pager" class="table ptb-event-table">
        <tr ng-repeat="event in $data">
            <td data-title="'Name'" sortable="'name'">{{event.name}}</td>
            <td data-title="'Attending Count'" sortable="'attending_count'">{{event.attending_count}}</td>
          <td data-title="'Detail view'"><stat-details event-id="event.id"></stat-details></td>
        </tr>
    </table>
</div>

