<div layout="row" style="height: 100%;">
  <map center="city.center" id="heatmapContainer"
       disable-default-u-i="true"
       zoom-control="true"
       zoom-control-options="{{ {position: google.maps.ControlPosition.RIGHT_TOP} }}"
    style="height:100%" flex="100">
  </map>


</div>


<div id="placetobe-dev-settings" ng-if="false">
  <div class="col-md-6" style="padding: 10px">
    <p>SIZE_PER_PERSON <input type="number" ng-model="SIZE_PER_PERSON"/></p>

    <p>PERSONS_PER_POINT <input type="number" ng-model="PERSONS_PER_POINT"/></p>

    <p>TILE_SIZE <input type="number" ng-model="TILE_SIZE"/></p>

    <p>METER_RADIUS_PER_POINT <input type="number" ng-model="METER_RADIUS_PER_POINT"/></p>
    <button ng-click="refreshHeatmap()" ng-disabled="!dataReceived" class="btn">RefreshHeatmap</button>
  </div>
</div>
