
<!--Header-->
<md-toolbar layout="row" layout-align="end center">
  <span flex="5"></span>
  <md-select placeholder="City" ng-model="ctrl.userState" flex="20" ng-change="fetchEvents(query)">
    <md-option ng-repeat="city in cities |orderBy: 'formatted_address'" ng-click="query.place = city">{{city.formatted_address}}</md-option>
  </md-select>
  <span flex="5"></span>
  <md-input-container flex="20">
    <label>Date</label>
    <input type="date" ng-model="query.startDate" ng-change="fetchEvents(query)">
  </md-input-container>
  <span flex="5"></span>
  <md-select placeholder="Time" ng-model="query.startHour" flex="20" ng-change="fetchEvents(query)">
    <md-option ng-repeat="n in [] | range:0:23" value="{{n}}">{{n}}:00</md-option>
  </md-select>
  <!--<div><md-button ng-click="fetchEvents(query)" class="md-raised">FetchEvents</md-button></div>-->
  <!--to login with FB or our own accounts-->
  <span flex></span>
  <login-button login-service="loginService"></login-button>
</md-toolbar>

<!--Content View-->
<md-content flex id="content" >
  <placetobe-heatmap query="query" data="heatmapData" ng-if="heatmapData"></placetobe-heatmap>

  <div ng-if="!heatmapData">
    <p>
      Select a city, time and date above and we'll show you our results!
    </p>
  </div>
</md-content>














