/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)*/

/*TEST AREA*/
/*a.md-button:not([disabled]):hover, .md-button:not([disabled]):hover{
  background-color: rgba(255,255,255, 0.2);
}*/
/*TEST AREA END*/

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Toolbar area */

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 20vw !important;
  max-width: 400px !important;
  background-color: rgb(0, 188, 212);
}

md-sidenav header {
  text-align: center;
}

md-sidenav, md-sidenav a {
  text-decoration: none;
  color: white;
}

button.md-button:not([disabled]):hover, md-list > md-list-item > button.md-button:not([disabled]):hover, md-list > md-list-item > a.md-button:not([disabled]):hover, a.md-button:not([disabled]):hover {
  background-color: grey;
}

button.md-button.md-raised:not([disabled]):hover, a.dm-button.md-button.md-raised:not([disabled]):hover {
  background-color: transparent;
}

md-sidenav header .main-logo {
  font-size: 10em;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

/* md-toolbar */
md-toolbar md-select, md-toolbar md-input-container {
  padding-bottom: 2px;
}

md-toolbar md-select {
  padding-top: 2px;
}

md-toolbar div {
  line-height: 64px;
}

/* Primary content area */

#content {
  overflow: hidden;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}

md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}

/*FB Login Button*/
button.md-button.md-raised.fb-login-button {
  background-color: #3b5998;
  color: white;
}

button.md-button.md-raised.fb-login-button:not([disabled]):hover {
  background-color: #8b9dc3 !important;
}

button.md-button.md-raised.fb-login-button:not([disabled]):active, button.md-button.md-raised.fb-login-button:not([disabled]).md-focused {
  background-color: #dfe3ee !important;
  color: #3b5998 !important;
}

button.md-button.md-raised.fb-login-button:not([disabled]):active > md-icon {
  color: #3b5998 !important;
}

button.md-button.md-raised.fb-login-button > md-icon {
  color: white;
  height: 16px;
  padding: 0 9px 0 0;
}

md-toolbar login-button, md-toolbar logout-button {
  margin-right: 27px;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
  margin-right: 20px;
}

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

/*Heatmap Directive*/
/*placetobe-heatmap{
  position: absolute;
  height: 100%;
  width: 100%;
}

placetobe-heatmap #heatmapContainer{
  height: 100%;
}

placetobe-heatmap #placetobe-map-settings{
}*/

.text-page-content {
  margin: 10px 35px;
}

#heatmapImageLandingpage {
  width: 100%;
  margin: 0.67em 0;
  font-size: 56px;
}

.map_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map_canvas {
  width: 100% !important;
  height: 100% !important;
}

.map_controlls{
  height: 48px;
  width: 100%;
  background-color: rgb(0,188,212);
}
placetobe-heatmap {
  position: relative;
}


.event-list-toolbar {
  background-color: white;
  color: rgba(0, 0, 0, 0.870588);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.14), 0 0 2px 0 rgba(0, 0, 0, 0.098), 0 0 5px 0 rgba(0, 0, 0, 0.084);
}

.event-list-toolbar md-icon{
  color: rgba(0, 0, 0, 0.870588);
}

.divider {
  width: 100%;
  border-top: 1px solid darkgray;
  line-height: 1px;
  margin:20px 0;
  text-align: center;
}

.divider-title {
  padding: 0 20px;
  background: white;
}

.divider-container{
  width: 100%;
}

.forgot-password a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.258824);
  margin: 8px;
}

event-list{
  margin: 20px;
}

/*table view */

.ptb-event-table-container {
  margin: 20px;
  overflow: scroll;
}

.ptb-event-table-container, table.ptb-event-table{

}

table.ptb-event-table tbody, table.ptb-event-table thead{

}

/*

    */


table.ptb-event-table {
  width: 100%;
}


table.ptb-event-table tr:nth-child(odd), table.ptb-event-table th {
  background-color: rgba(0, 188, 212, 0.3);
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

/*date time picker quick fixes*/

.time-date > .control > .slider > .date-control {
  /* hide overflow-x on Firefox */
  overflow: hidden !important;
}

/* back/forward arrows */
.title .md-button {
  min-width: 0 !important;
}

.time-date > .control > .slider > .date-control > .headers {
  margin-top: 0 !important;
}

/* date cells */
.time-date > .control > .slider > .date-control .day-cell {
  min-height: 0 !important;
  min-width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* switch control buttons */
.time-date > .control > .slider > .switch-control {
  margin: 0 !important;
  min-width: 0 !important;
  font-size: 18px !important;
}


/*IE FIX for Date & Time*/
.md-select-label :first-child{
  flex-basis: auto;
  max-width: 100%;
  overflow: hidden;
}
