<md-dialog aria-label="Login">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>

      <!--LOGIN USER FORM-->
      <div layout="column" ng-show="dialog == 'login'">
        <!--<md-content layout-padding layout="row" layout-sm="column">
          <md-input-container>
            <label>Username</label>
            <input ng-model="user.username">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input ng-model="user.password" type="password">
          </md-input-container>
        </md-content>
        <md-content layout-padding layout="row" layout-sm="column">
          <md-button class="md-raised fb-login-button" flex="50" ng-click="fbLogin()">
            <md-icon md-font-icon="fa-facebook-official" class="fa"></md-icon>
            <span>Use FB Login</span>
          </md-button>
          <md-button class="md-raised" flex ng-click="toggleRegister()">Register now</md-button>
        </md-content>-->

        <form name="loginForm">
          <md-input-container>
            <label>Email</label>
            <input ng-model="user.email" type="email" name="email" required>
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input ng-model="user.password" type="password" required name="password">
          </md-input-container>


          <div layout="row">
            <md-button class="md-raised" ng-click="ptbLogin(user)" flex
                       ng-disabled="!user.password || !user.email">Login
            </md-button>
          </div>

          <div layout="row" class="forgot-password" ng-click="forgotPassword = !forgotPassword">
            <a href="" ng-click="dialog = 'forgotPassword'">forgot password?</a>
          </div>
        </form>

        <div class="divider-container">
          <div class="divider">
            <strong class="divider-title">or</strong>
          </div>
        </div>
        <md-button class="md-raised fb-login-button" ng-click="fbLogin()" flex>
          <md-icon md-font-icon="fa-facebook-official" class="fa" style="padding-right: 5px;">
          </md-icon>
          <span>Login with facebook</span>
        </md-button>

        <wait-bar show-event="serverCallStart" hide-event="serverCallEnd" message="Logging in...">
        </wait-bar>
      </div>


      <!--REGISTER USER FORM-->
      <div layout="column" ng-show="dialog == 'register'">

        <form name="registerForm">

          <md-input-container>
            <label>Email</label>
            <input ng-model="user.email" type="email" name="email">

            <div ng-messages="registerForm.email.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input ng-model="user.password" type="password" required equals="{{user.password2}}" name="password">
          </md-input-container>
          <md-input-container>
            <label>repeat Password</label>
            <input ng-model="user.password2" type="password" equals="{{user.password}}" name="password2">

            <div ng-messages="registerForm.password2.$error">
              <div ng-message="equals">Both passwords must match!</div>
            </div>
          </md-input-container>
        </form>
        <md-button class="md-raised" ng-click="registerUser(user)"
                   ng-disabled="user.password != user.password2 || !user.email || !user.password">Register now
        </md-button>
        <wait-bar show-event="serverCallStart" hide-event="serverCallEnd" message="Logging in...">
        </wait-bar>
      </div>

      <!--FORGOT PASSWORD USER FORM-->
      <div layout="column" ng-show="dialog == 'forgotPassword'">
        <form name="forgotPassword">

          <md-input-container>
            <label>Email</label>
            <input ng-model="forgotPass.email" type="email" name="email">

            <div ng-messages="forgotPassword.email.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-button class="md-raised md-warn" ng-click="performPasswordReset(forgotPass.email)"
                     ng-disabled="forgotPassword.email.$error || !forgotPass.email">Request Reset Email
          </md-button>

        </form>

        <wait-bar show-event="serverCallStart" hide-event="serverCallEnd" message="Logging in...">
        </wait-bar>
      </div>
    </md-dialog-content>



    <!--the bottom rows-->
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" class="md-primary">
        Cancel
      </md-button>
      <md-button ng-click="dialog = 'register'" class="md-primary" ng-hide="dialog == 'register' || dialog == 'forgotPassword'">
        Register
      </md-button>
      <md-button ng-click="dialog = 'login'" class="md-primary" ng-show="dialog != 'login'">
        Login
      </md-button>
    </div>
</md-dialog>


